h1 {
  font-size: 40px;
  color: Blue;
  font-family: monospace;
}

body{
  background-image: url("https://cdn.wallpapersafari.com/88/79/7sD13W.jpg");
}


p1 {
  font-size: 28px;
  color: purple;
  font-family: monospace;
}


p {
  font-size: 15px;
  color: Black;
  font-family: monospace;
}

p2 {
  size: 25px;
}
